<div class="container">
    <div class="row">
        <img src="../../assets/Rick_and_Morty_logo.png" alt="Rick and Morty logo">
    </div>
    <div class="row">
        <h1>Characters</h1>
    </div>
    <div class="row">
        <p>Filter by:</p>
        <select class="custom-select" #gend (change)="getCharacters(gend.value, status)">
            <option selected disabled>Gender</option>
            <option value="female">female</option>
            <option value="male">male</option>
            <option value="genderless">genderless</option>
            <option value="unknown">unknown</option>
        </select>
        <select class="custom-select" #stat (change)="getCharacters(gender, stat.value)">
            <option selected disabled>Status</option>
            <option value="alive">alive</option>
            <option value="dead">dead</option>
            <option value="unknown">unknown</option>
        </select>
        <button class="btn btn-danger" (click)="onClearFilters()">Clear filters</button>
    </div>
    <div class="characters">
        <div class="card" *ngFor="let character of characters">
            <!--Routing to character details when name is clicked-->
            <h5 class="card-header"><a routerLink="/details/{{character.id}}">{{character.name}}</a></h5>
            <div class="card-body">
                <ul style="list-style-type:none">
                    <li>Gender: {{character.gender | lowercase}}</li>
                    <li>Status: {{character.status | lowercase}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <button class="btn btn-primary btn-lg" (click)="onMoreCharacters()" *ngIf="next">More</button>
    </div>
</div>